<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <mirror>
            <id>tmg-repository</id>
            <name>TMG Maven Repository</name>
            <url>http://devnexus001.dev.dc1.tradermedia.net:8081/nexus/content/groups/public</url>
            <mirrorOf>*</mirrorOf>
            <!--<mirrorOf>central</mirrorOf>-->
        </mirror>
    </mirrors>
	
	<proxies>
		<proxy>
			<id>tmg-proxy</id>
			<active>true</active>
			<protocol>http</protocol>
			<username></username>
			<password></password>
			<host>proxy.tradermedia.co.uk</host>
			<port>8080</port>
			<nonProxyHosts>*.tradermedia.net|localhost|127.0.0.1|tmgDummyUrl</nonProxyHosts>
		</proxy>
	</proxies>

    <servers>
        <server>
            <id>tmg-repository</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
		<server>
            <id>snapshots</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
		<server>
            <id>releases</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
                <repository>
                    <id>tmg-repository</id>
                    <name>TMG Repository</name>
                    <url>http://tmgDummyUrl</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>tmg-repository</id>
                    <name>TMG Repository</name>
                    <url>http://tmgDummyUrl</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
